:root{
    --p-color: #251b1a;
    --s-color: #f7ce6c;
    --t-color: #d4af37;
    --text-color: #ffffff;
    --other-color: #0d1117;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: var(--p-color);
    font-family: 'Times New Roman', Times, serif;
}

.section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: var(--p-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.border{
    border-color: var(--p-color);
    width: 15%;
}

header{
    padding: 20px 35px;
    background: var(--p-color);
}

header nav {
    margin: 7px 0;
  }

header h1 a{
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--s-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--s-color);
}

.hero{
    background-image: url("../images/coding-lines.jpg");
    padding: 125px;
    background-size: cover;
    text-align: right;
}

.hero h2{
    color: var(--text-color);
    float: right;
}

.page-container{
    position: relative;
    min-height: 100vh;
}

.about-me{
background-color: var(--t-color);
}

.grid-container{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
    padding-bottom: 50px;
}

.grid-img{
    background-color: orange;
    border: solid;
    padding: 1em;
    color: black;
}

.grid-img:hover{
    opacity: 1;
}

.trainer:hover .grid-img h3, .trainer:hover .grid-img h4 {
    top: 0;
  }


.grid-img::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.grid-img h3 {
    position: relative;
    z-index: 1;
    font-size: 28px;
    margin-bottom: 5px;
    top: 200px;
    transition: 0.6s;
  }
  
  .grid-img h4 {
    position: relative;
    z-index: 1;
    font-size: 22px;
    top: 200px;
    transition: 0.6s;
    transition-delay: .2s;
  }
  
  .grid-container:hover .grid-img h3, .grid-container:hover .grid-img h4 {
    top: 0;
  }


.box1{
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
    background-image: url("../images/hero-bg.jpg");
}

.box1 a{
    color: var(--other-color);
    text-decoration: none;
}

.box2{
    background-image: url("../images/equations.jpg");
    color: var(--text-color);
    font-size: 12px;
}

.box3{
    background-image: url("../images/led-wall.jpg");
    color: var(--text-color);
}

.box4{
    background-image: url("../images/puzzle.jpg");
}

.box5{
    background-image: url("../images/wave.jpg");
}

.grid-img{
    background-size: cover;
    display: flex;
    padding: 15px;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}

.content-wrap{
    padding-bottom: 2.5rem;
}

.contact-me{
    padding: 50px;
    color: var(--t-color);
    background-color: var(--other-color);
}

.contact-me h3{
    font-size: 30px;
    border-bottom: 3px solid;
}

.contact-me a{
    color: var(--s-color);
}

footer{
    background-color: var(--p-color);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    bottom: 0%;
    position: absolute;
}

footer h2 {
    color: var(--s-color);
    font-size: 20px;
    margin: 0;
  }